<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head> 
<body>
    <p style="position: absolute; left: -3%; text-align: right; width: 100%; z-index: 9999; top: 52%; font-size: 10; font-family: Myriad Pro, sans-serif;">Made with the PERMELIS app (permelis.com) &copy; 2021</p>
    <img style="position: relative; left: -65%;" src="https://www.singhealthacademy.edu.sg/sites/sdc2016/Style%20Library/SingHealth/images/Footer/footer_right_top.jpg">
</body>
</html>
